doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .head
      a(href='/')
        | home
      | ,&nbsp
      a(href='/maps/')
        | maps
      | ,&nbsp
      a(href='/downloads/')
        | downloads
    block content
